# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TF
*.tflite
*.pb
*.h5

# Data
*.csv
*.npy
*.npz
*.hdf5
*.pkl
*.pickle
